
/* ------------------------------------------------------------------------------
	Colors definitions
-------------------------------------------------------------------------------*/
$white: #fff;
$black: #000;
$grey-dark: #343434;
$grey-light: #343434;
$turkiz: #1ABC9C;
$orange: #f56857;


/* ------------------------------------------------------------------------------
	fonts definitions
-------------------------------------------------------------------------------*/
$font-source:'Source Sans Pro', sans-serif;
$font-jura:'Jura', sans-serif;
$font-lato:'Lato', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-arial:'Arial';
