
// colors definitions
$white: #fff;
$black: #000;
$grey-dark: #343434;
$grey-light: #343434;

$site-orange: #f56857;
$site-blue: #428bca;
$site-turqize-dark: #94a8ae;


// fonts definitions
$font-jura:'Jura', sans-serif;
$font-lato:'Lato', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-arial:'Arial';
