
<!-- services section ------------------------------------------------------------------>
<section  id="services" class="section">
  <div class="container  wow fadeIn animated">
    <h1 id="services" class="title text-center">Services</h1>
    <p class="lead text-center">We're here to help make your life easier.</p>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-4">
        <div class="media block-list">
          <div class="media-left">
            <i class="fa fa-trophy"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">UX Research</h3>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media block-list">
          <div class="media-left">
            <i class="fa fa-gear"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Graphic Design</h3>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam ducimus.</p>

            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media block-list">
          <div class="media-left">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Web Design</h3>
            <blockquote>
              <p>Dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur placeat.</p>

            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="media block-list">
          <div class="media-left">
            <i class="fa fa-clock-o"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Web App</h3>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur.</p>

            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media block-list">
          <div class="media-left">
            <i class="fa fa-heart"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Mobile App</h3>
            <blockquote>
              <p>Forem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur.</p>

            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media block-list">
          <div class="media-left">
            <i class="fa fa-magic"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">Windows</h3>
            <blockquote>
              <p>Norem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur.</p>

            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end ------------------------------------------------------------------->
