
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="index.html"><img  src="dist/img/logos/logo-collage.png" alt="logo"></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#scrollToTop">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#detailed">Detailed</a></li>
          <li><a href="#features">features</a></li>
          <li><a href="#contact" class="highlight">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>Yoni kanguuun</h1>
        <p>Lorem ipsum dolor sit ametcursus magna vel ipsum dolor sit amet scelerisque<br/>
        Lorem consectetur adipiscing elit.<br/> </p>
        <a href="#contact" id="demo02" class="btn-ultra">Packages</a>
       </div>
    </div>
  </div>
</section>
