

.banner {
	background: url(../dist/img/backs/banner.jpg) $turkiz;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 750px;
}

.banner-text {
	padding-top: 45%;
	h1 {
		color: #fff;
		font-family: "Lato", Arial, sans-serif;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
	}

	p {
	 color: #fff;
	 font-size: 16px;
	 font-weight: 400;
	 line-height: 24px;
	 margin-top: 30px;
	 margin-bottom: 80px;
 }
}
